@charset "utf-8";
main{
    width: 1280px;
    height: 1000px;
    margin: 0 auto;
/*    background: #ccc;*/
}

main .sec1{
    width: 1250px;
    margin: 0 auto;
/*    background: green;*/
    padding-top: 20px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/*sec1 div1 begin*/
main .sec1 .div1{
    float: left;
    width: 615px;
/*    background: blue;*/
    height: 200px;
}

main .sec1 .div1 h3{
    font-size: 24px;
    margin-left: 20px;
    width: 400px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

main .sec1 .div1 h3 > span{
    width: 24px;
    height: 24px;
    background: #009688;
    border-radius: 12px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
main .sec1 .div1 h3 > span span{
     width: 12px;
    height: 12px;
    background: #a0d9ea;
    border-radius: 6px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-left: 6px;
}

main .sec1 .div1 ul{
    margin-left: 30px;
}

main .sec1 .div1 li{
    padding-top: 5px;
    line-height: 160%;
}

main .sec1 .div1 li span{
    float: right;
}

main .sec1 .div1 li a{
    color: #333;
    display: block;
}

main .sec1 .div1 li a:hover{
    color: #a0d9ea;
    text-decoration: underline;
}


/*sec2 div2 begin*/



main .sec1 .div2{
     width: 615px;
   float:right;
     height: 200px;
/*    background: blue;*/
}

main .sec1 .div2 h3{
    font-size: 24px;
    margin-left: 20px;
    width: 400px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

main .sec1 .div2 h3 > span{
    width: 24px;
    height: 24px;
    background: #009688;
    border-radius: 12px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
main .sec1 .div2 h3 > span span{
     width: 12px;
    height: 12px;
    background: #a0d9ea;
    border-radius: 6px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-left: 6px;
}

main .sec1 .div2 ul{
    margin-left: 30px;
}

main .sec1 .div2 li{
    padding-top: 5px;
    line-height: 160%;
}

main .sec1 .div2 li span{
    float: right;
}

main .sec1 .div2 li a{
    color: #333;
    display: block;
}

main .sec1 .div2 li a:hover{
    color: #a0d9ea;
    text-decoration: underline;
}

/*sec2 begin*/

main .sec2{
    width: 1250px;
    margin: 0 auto;
/*    background: blue;*/
    height: 400px;
}

main .sec2 .img_p{
width: 600px;
    float: left;
/*    background: red;*/
}

main .sec2 .img_p a img{
    width: 400px;
    height: 300px;
    margin: 0  auto;
}

main .sec2 .img_p p{
    text-align: center;
     color: #333;
    padding-top: 10px;

}


/*img_p1*/

main .sec2 .img_p1{
width: 600px;
    float: right;
/*    background: red;*/
  
}

main .sec2 .img_p1 a img{
     width: 400px;
    height: 300px;
    margin: 0  auto;
}
main .sec2 .img_p1 a h4 {
    text-align: center;
    font-size: 18px;
   padding: 10px 0 10px 0;
    color: #009688;
}
main .sec2 .img_p1 p{
    text-align: center;
     color: #333;
}


/*icon part begin*/
main .icon1{
    width: 1250px;
    margin: 0 auto;
    background: #fff;
    margin-top: 5px;
    height: 350px;
}

main .icon1 .main_icon{
    width: 1160px;
    height: 300px;
    margin: 0 auto;
/*    background: pink;*/
    margin-top: 30px;
}
main .icon1 .icon{
    width: 250px;
    height: 280px;
/*    background: yellow;*/
    float: left;
    margin: 20px;
}


main .icon1 .icon img{
    width: 230px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #000;
}

main .icon1 .icon a h3{
    font-size:18px;
    color: #333;
    text-align: center;
    padding: 5px 0 5px 0;
}

main .icon1 .icon a p{
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    color: #333;
}

main .icon1 .icon:hover{
/*
   width: 230px;
    height: 200px;
*/
    background: rgba(0,0,0,0.5);
}

